* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/* Parshal */
.banda, .seguinosFondo, .inboxContacto, .redesContacto {
  display: flex;
  justify-content: center; }

.bg-p {
  display: inline-block;
  background-color: orange;
  width: 250px; }

.flyerP1, .flyerP2, .flyerP3, .flyerP4, .musico1, .musico2, .musico3, .musico4 {
  text-align: center;
  background-color: orange;
  margin-top: 0.5rem; }

/* Home */
body {
  background-color: grey; }

.subtituloHome {
  text-align: center; }

header h1 {
  background-color: orange;
  text-align: start;
  font-size: 50px;
  font-weight: lighter;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.fotoBanda {
  width: 80%;
  height: 100%; }

.banda {
  height: 60%;
  background-color: orange;
  grid-area: banda; }

.seguinosFondo {
  background-color: grey;
  grid-area: seguinosFondo; }

.redes .fb .ig .yt {
  height: 25px;
  width: 25px; }

.redes {
  background-color: grey; }

.parrafoHome {
  text-align: center;
  margin: 1rem;
  background-color: grey;
  font-size: 1.2rem;
  grid-area: parrafoHome; }

.fondoNav {
  background-color: grey; }

/*Nestin*/
nav ul {
  display: flex;
  justify-content: space-evenly; }
  nav ul li {
    list-style: none;
    padding: 0.4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-size: cover;
    background-color: orange;
    border-radius: 1.5rem;
    border: solid; }

.bg-nav {
  background-color: orange; }

.logo {
  animation-name: logolafuga;
  animation-iteration-count: infinite;
  animation-duration: 90s;
  border-radius: 4rem;
  height: 5rem;
  width: 5rem; }

@keyframes logolafuga {
  from {
    transform: rotate 0; }
  to {
    transform: rotate(360deg); } }

footer h2 {
  margin-top: 1rem;
  text-decoration: underline;
  text-align: center;
  font-size: small; }

.home {
  display: grid;
  grid-template-areas: "seguinosFondo seguinosFondo seguinosFondo seguinosFondo" "parrafoHome parrafoHome parrafoHome parrafoHome" "banda banda banda banda"; }

@media screen and (min-width: 600px) {
  header h1 {
    display: block;
    text-align: center; }
  .seguinosFondo {
    display: block; }
  .carousel-item {
    padding-left: 25%;
    padding-right: 25%; } }

@media screen and (min-width: 1024px) {
  header h1 {
    display: block;
    text-align: end; }
  .carousel-item {
    padding-left: 25%;
    padding-right: 25%; } }

/* Contacto */
.h2Contacto {
  background-color: orange;
  text-align: center; }

header nav ul {
  display: none;
  background-color: orange; }

.contacto p {
  margin-bottom: 1.5rem; }

.inbox .wsp .fbContacto .igContacto .ytContacto {
  height: 50px;
  width: 50px; }

.inbox {
  height: 50px;
  width: 50px; }

.wsp {
  height: 50px;
  width: 50px; }

.fbContacto {
  height: 50px;
  width: 50px; }

.igContacto {
  height: 50px;
  width: 50px; }

.ytContacto {
  height: 50px;
  width: 50px; }

.formulario {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  background-color: black; }

.contacto {
  display: grid;
  grid-template-areas: "parrafosContacto parrafosContacto parrafosContacto parrafosContacto" "inboxContacto inboxContacto inboxcontacto inboxContacto" "redesContacto redesContacto redesContacto redesContacto";
  justify-content: center;
  gap: 2rem; }

@media screen and (min-width: 600px) {
  header h1 {
    text-align: center; } }

@media screen and (min-width: 1024px) {
  header nav ul {
    display: flex;
    justify-content: space-evenly; } }

/*Discos*/
.ilusion {
  height: 10rem;
  width: 10rem; }

.poresa {
  height: 10rem;
  width: 10rem; }

.hijos {
  height: 10rem;
  width: 10rem; }

.ytDiscos {
  height: 50px;
  width: 50px; }

.pDiscos {
  grid-area: pDiscos; }

.tapaDiscos1 {
  grid-area: tapaDiscos1; }

.tapaDiscos2 {
  grid-area: tapaDiscos2; }

.tapaDiscos3 {
  grid-area: tapaDiscos3; }

.listaDiscos1 {
  margin-top: 1rem;
  grid-area: listaDiscos1; }

.listaDiscos2 {
  margin-top: 1rem;
  grid-area: listaDiscos2; }

.listaDiscos3 {
  margin-top: 1rem;
  grid-area: listaDiscos3; }

.titulo1 {
  background-color: orange; }

.titulo2 {
  background-color: orange; }

.titulo3 {
  background-color: orange; }

@media screen and (min-width: 600px) {
  .discos {
    display: grid;
    grid-template-areas: "pDiscos pDiscos" "tapaDiscos1 listaDiscos1" "tapaDiscos2 listaDiscos2" "tapaDiscos3 listaDiscos3";
    gap: 2rem; } }

@media screen and (min-width: 600px) {
  .discos {
    display: grid;
    grid-template-areas: "pDiscos pDiscos pDiscos pDiscos" "tapaDiscos1 tapaDiscos1 listaDiscos1 listaDiscos1" "tapaDiscos2 tapaDiscos2 listaDiscos2 listaDiscos2" "tapaDiscos3 tapaDiscos3 listaDiscos3 listaDiscos3";
    gap: 2rem; } }

/*Shows*/
.flyer1 {
  height: 400px;
  width: 250px; }

.flyer2 {
  height: 400px;
  width: 250px; }

.flyer3 {
  height: 400px;
  width: 250px; }

.flyer4 {
  height: 400px;
  width: 250px; }

.show1 {
  grid-area: show1; }

.show2 {
  grid-area: show2; }

.show3 {
  grid-area: show3; }

.show4 {
  grid-area: show4; }

@media screen and (min-width: 600px) {
  .mShows {
    display: grid;
    grid-template-areas: "show1 show2" "show1 show2" "show3 show4" "show3 show4";
    gap: 2rem; } }

@media screen and (min-width: 1024px) {
  .mShows {
    display: grid;
    grid-template-areas: "show1 show2 show3 show4" "show1 show2 show3 show4" "show1 show2 show3 show4" "show1 show2 show3 show4";
    gap: 2rem; } }

/*Integrantes*/
.fMusico1 {
  height: 400px;
  width: 250px; }

.fMusico2 {
  height: 400px;
  width: 250px; }

.fMusico3 {
  height: 400px;
  width: 250px; }

.fMusico4 {
  height: 400px;
  width: 250px; }

@media screen and (min-width: 600px) {
  .mInt {
    display: grid;
    grid-template-areas: "intKero intDavid" "intKero intDavid" "intDaro intNava" "intDaro intNava";
    gap: 2rem; } }

@media screen and (min-width: 1024px) {
  .mInt {
    display: grid;
    grid-template-areas: "intKero intDavid intDaro intNava" "intKero intDavid intDaro intNava" "intKero intDavid intDaro intNava" "intKero intDavid intDaro intNava";
    gap: 2rem; } }

/*Mixin en imagenes de Integrantes*/
.kero .david .nava .daro {
  height: 400px;
  width: 250px; }

.fbIntegrantes {
  height: 50px;
  width: 50px; }

.igIntegrantes {
  height: 50px;
  width: 50px; }
